* {
    margin: 0;
    padding: 0;
  }


/* NAV */


  #navcontainer {
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: darkgoldenrod;
    
}
#navcontainer img {
    padding-left: 30px;
}
.nav {
    float: right;
    margin-top: 30px;
    font-size: 22px;
    color: black;
    width: 500px;
}
.nav a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}


/* BODY */


body {
    background-color: bisque
}


/* HERO */


.bamhurger {
    position: relative;
    padding-left: 200px;
}

.bamhurger img {
    width: 75%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.bamhurger h3 {
    position: absolute;
    font-size: 30px;
    top: 400px;
    left: 35%;
    background-color: white;
    padding: 10px;
    z-index: 1;
}
.bamTime {
    background-color: lightgray;
    padding-left: 10px;
    margin-top: 500px;
    height: 100px;
}
.list {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.list div {
    flex: 0 0 30%;
}


/* Post Hero */


.posthero {
    text-align: center;
    border-top: 3px black solid;
    padding-top: 15px;
    background-color: white;
    position: relative;
    z-index: 1;
}
.review p {
    padding-bottom: 5px;
}
#butn {
    border-radius: 20px;
    background-color: red;
    padding: 3px;
}
#butn:hover {
    background-color: darkred;
}
.quote {
    background-color: lightgray;
    color:darkslategray;
    width: 75%;
    margin-left: 200px;
    margin-top: 30px;
    font-style: oblique;
}


/* HowTo */


.howTo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.ingredients p {
    padding: 10px;
}
.ingredients h3 {
    padding: 20px;
}
.Directions li {
    padding: 10px;
}
a {
    color: black;
    padding: 30px;
}


/* footer */


#footer {
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: darkgoldenrod;
    margin-bottom: 3px;
    
}

#footer h5 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: black;
    padding-left: 35px;
    width: 300px;
    float: left;
}
.footNav {
    float: right;
    font-size: 16px;
    color: black;
    width: 500px;
    margin-top: 30px;
}
.footNav a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

