* {
    margin: 0;
    padding: 0;
  }


/* NAV */


  #navcontainer {
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: darkgoldenrod;
    margin-bottom: 3px;
    
}
#navcontainer img {
    padding-left: 30px;
}
.nav {
    float: right;
    margin-top: 30px;
    font-size: 22px;
    color: black;
    width: 500px;
}
.nav a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}


/* BODY */


body {
    background-color: white;
}


/* HERO */


.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.hero h3 {
    position: absolute;
    font-size: 30px;
    top: 500px;
    left: 35%;
    background-color: white;
    padding: 10px;
    z-index: 1;
}


/* EVERYDAY CATEGORIES */


.everydayCategories {
    border-top: 3px black solid;
    padding-top: 25px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-top: 650px;
}
.posthero {
    margin-bottom: 25px;
    margin-left: 365px;
}

.posthero h3 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.posthero p {
    font-size: 18px;
}

        /* box */


#boxescontainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.boxes {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box {
    display: inline-block;
    margin: 0 10px;
}
.box img {
    max-height: 100%;
    max-width:100%;;
}
.box h4 {
    text-align: center;
    font-weight:lighter;
}


/* HEALTHY RECIPES OTW */


.healthyRecipes {
    padding-top: 25px;
    background-color: lightgray;
    margin: 0 auto;
}
.healthyText {
    margin-bottom: 25px;
    z-index: 1;
    margin-left: 365px;
}
.healthyText h3 {
    font-size: 24px;
}
.healthyText p {
    font-size: 18px;
}

        /* healthy boxes */

.boxesOfTheWeek {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.boxe2 {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bo2 {
    display: inline-block;
    margin: 0 10px;
}
.bo2 p {
    text-align: center;}
.bo2 img {
    max-height: 100%;
    max-width:100%;;
}


/* where */


.whereToEat {
    padding-top: 25px;
    background-color: white;
    margin: 0 auto;
}
.whereToText {
    margin-bottom: 25px;
    z-index: 1;
    margin-left: 365px;
}
.whereToText h3 {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: bolder;
}
.whereToText p {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: lighter;
}


        /* wherebox */


.whereFood {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.boxe3 {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bo3 {
    display: inline-block;
    margin: 0 10px;
}
.bo3 p {
text-align: center;}
.bo3 img {
    max-height: 100%;
    max-width:100%;;
    border: 3px gray solid;
}
a {
    color: black;
    padding: 30px;
}

/* footer */


#footer {
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: darkgoldenrod;
    margin-bottom: 3px;
    
}

#footer h5 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: black;
    padding-left: 35px;
    width: 300px;
    float: left;
}
.footNav {
    float: right;
    font-size: 16px;
    color: black;
    width: 500px;
    margin-top: 30px;
}
.footNav a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

